#rain {
	margin-left: 2cm;
	background-color: powderblue;
}

#snow {
	margin-left: 2cm;
	background-color: whitesmoke;
}

#rot {
	margin-left: 1.3cm;
	background-color: green;
}

#pause {
	margin-left: 1.7cm;
	background-color: blanchedalmond;
}
button{
	border-radius: 0.5cm;
	margin: 0.3cm;
	scale: 200%;
}	